In [1]:
Major = 'Smart Factory'

In [3]:
if Major == 'Smart Factory':
    print('Ateendance')
else:
    print('No')

Ateendance

In [4]:
num_class = 'A'

In [6]:
if Major == 'Smart Factory' and num_class == 'A':
    print('Yes')
else:
    pass

Yes

In [7]:
A = [1,2,3]
B = [4,5,6]
C = 'S'

In [8]:
1 in A

True

In [9]:
if 1 in A:
    print('Yes')
else:
    print('No')

Yes

In [13]:
num_week = 0
while num_week <15:
    num_week += 1
    print(num_week)
    if num_week == 15:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [17]:
weeks = 0
while True:
    weeks += 1
    print('Attend this class in week %d' % weeks)
    if weeks == 15:
        print('End')
        break

Attend this class in week 1
Attend this class in week 2
Attend this class in week 3
Attend this class in week 4
Attend this class in week 5
Attend this class in week 6
Attend this class in week 7
Attend this class in week 8
Attend this class in week 9
Attend this class in week 10
Attend this class in week 11
Attend this class in week 12
Attend this class in week 13
Attend this class in week 14
Attend this class in week 15
End

In [21]:
weeks = 0
while True:
    weeks += 1
    print(weeks)
    if weeks == 15:
        print('End')
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
End

In [25]:
weeks = 0
while True:
    weeks += 1
    if weeks % 2 == 0:
        print(weeks)
        if weeks == 14:
            break

2
4
6
8
10
12
14

In [26]:
weeks = 0
while weeks < 15:
    weeks += 1
    if weeks % 2 == 1:
        continue
    print('Test %d' % weeks)

Test 2
Test 4
Test 6
Test 8
Test 10
Test 12
Test 14

In [27]:
class_list = ['스페인어','프로그래밍','일본어']

In [28]:
for i in class_list:
    print(i)

스페인어
프로그래밍
일본어

In [36]:
A = [('주형규','물리'),('이정수','프로그래밍'),('사라 오', '스페인어')]

for (professor,subject) in A:
    print('%s 는 %s 를 가르친다' % (professor, subject))

주형규 는 물리 를 가르친다
이정수 는 프로그래밍 를 가르친다
사라 오 는 스페인어 를 가르친다

In [39]:
A = [('가비','사랑'),('효은','사랑')]
for (friend,love) in A:
    print('나는 %s를 %s한다' % (friend,love))

나는 가비를 사랑한다
나는 효은를 사랑한다

In [49]:
len(A)

2

In [50]:
for i in range(0):
    print(A)

In [55]:
my_class = ['지정기', '미적분', '프로그래밍', '과기글']

In [58]:
num = 1
for i in my_class:
    print(num, ':' ,i)
    num += 1

1 : 지정기
2 : 미적분
3 : 프로그래밍
4 : 과기글

In [67]:
A = [(1, '지정기'), (2, '미적분'), (3, '프로그래밍'), (4, '과기글')]

for a in A:
    num1 = a[0]
    num2 = a[1]
    print(num1, ':' , num2)
  
print(' ')

for (num1,num2) in A:
    print(num1, ':' , num2)

1 : 지정기
2 : 미적분
3 : 프로그래밍
4 : 과기글

1 : 지정기
2 : 미적분
3 : 프로그래밍
4 : 과기글

In [68]:
my_class = [('민수',70),('소미',30),('공칠',80),('혜원',100)]

for (x,y) in my_class:
    print(x, ':' , y)

민수 : 70
소미 : 30
공칠 : 80
혜원 : 100

In [71]:
for i, b in enumerate(my_class):
    print('%d class: %s' % (i,b))

0 class: ('민수', 70)
1 class: ('소미', 30)
2 class: ('공칠', 80)
3 class: ('혜원', 100)

In [74]:
scores = [('민수',70),('소미',30),('공칠',80),('혜원',100)]

for i, (name,score) in enumerate(scores):
    if score >= 60:
        print('Student %d: Pass' % i)
    else:
        print('Student %d: Fail' % i)

Student 0: Pass
Student 1: Fail
Student 2: Pass
Student 3: Pass

In [75]:
for i, score in enumerate(scores):
    print(i+1, ':', score)

1 : ('민수', 70)
2 : ('소미', 30)
3 : ('공칠', 80)
4 : ('혜원', 100)

In [76]:
for data in enumerate(scores):
    print(data)

(0, ('민수', 70))
(1, ('소미', 30))
(2, ('공칠', 80))
(3, ('혜원', 100))

In [85]:
# 점수가 60점 이상이면 합격, 아니면 불합격인 코드

scores = [60,40,0,200]
for i in range(len(scores)):
    if scores[i] >= 60:
        print('Studnet %d : Pass' % i)
    else:
        print('Student %d: Fail' % i)

Studnet 0 : Pass
Student 1: Fail
Student 2: Fail
Studnet 3 : Pass

In [90]:
scores = [60,40,0,200]
for i in range(len(scores)):
    if scores[i] < 60:
        continue
    print('Student %d: Pass' % i)

Student 0: Pass
Student 3: Pass

In [91]:
print(list(range(3)))

[0, 1, 2]

In [93]:
for i in range(0,3):
    for j in range(1,2):
        print(i+j)

1
2
3

In [97]:
for i in range(0,3):
    for j in range(0,2):
        print(i+j, end='')
    print(' ')

01
12
23

In [100]:
# 집합 a에 5배 한 집합을 구해라.

a = [1,2,3,4,5]
for i in range(len(a)):
    print(a[i] *2)
   
a = [1,2,3,4,5]
b=[]
for num in a:
    b.append(num*3)
    print(b)

2
4
6
8
10
[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]
[3, 6, 9, 12, 15]

In [101]:
a = ()
b = (1,2,3)
c = ('a','b',(1,2,3),[1,2])

In [102]:
a+b

(1, 2, 3)

In [104]:
c[2][0]

1

In [105]:
b[0] = 7

TypeError: 'tuple' object does not support item assignment

In [106]:
# for A in B
# for A in range(len(B))
# for a, b in enumerate(A)

In [107]:
num_week = 0
while num_week < 15:
    num_week += 1
    print(num_week)
print('End')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
End

In [108]:
num_week = 1
while num_week <= 15:
    print(num_week)
    num_week += 1
print('End')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
End

In [113]:
num_week = 1
while True:
    num_week += 1
    if num_week % 2 == 1:
        continue
    print(num_week)
    if num_week == 16:
        break

2
4
6
8
10
12
14
16

In [114]:
0%2

0

In [115]:
divmod(0,2)

(0, 0)

In [117]:
num_week = 0
while True:
    num_week += 1
    if num_week % 2 == 1:
        continue
    print(num_week)
    if num_week > 13:
        break
print('End')

2
4
6
8
10
12
14
End

In [118]:
class_list = ['Smart Factory', 'Applied Statistics','Industrial']
for class_name in class_list:
    print(class_name)

Smart Factory
Applied Statistics
Industrial

In [120]:
n = len(class_list)
i = 0
while i< n:
    print(class_list[i])
    i += 1

Smart Factory
Applied Statistics
Industrial

In [123]:
# 길이가 전체 길이보다 짧은 것만 내보내기
n = len(class_list)
i = 0
while i<n:
    print(class_list[i])
    i += 1

Smart Factory
Applied Statistics
Industrial

In [124]:
for a in class_list:
    print(a)

Smart Factory
Applied Statistics
Industrial

In [125]:
for a in class_list:
    print(a)

Smart Factory
Applied Statistics
Industrial

In [137]:
scores = {'철수':70,
          '영희':55,
          '민희':60,
          '영수':45,
          '영철':50,
         }

for score in scores.values():
    if score >= 50:
        print('Pass')
    else:
        print('Fail')

Pass
Pass
Pass
Fail
Pass

In [140]:
for name, score in scores:
    if score >= 50:
        print(name, ':' , 'Pass')
    else:
        print(name, ':', 'Fail')

TypeError: unhashable type: 'dict_keys'

In [141]:
scores = {'철수': 70, '영희': 55, '민희': 60, '영수': 45, '영철': 50}

for name, score in scores.items():     # 딕셔너리 : a.keys(), a.values(),a.items()
    if score >= 50:
        print(name, ': Pass')
    else:
        print(name, ': Fail')

철수 : Pass
영희 : Pass
민희 : Pass
영수 : Fail
영철 : Pass

In [161]:
numbers = []
total = 0

for i in range(int(input())):
    total += num
    
average = total / len(numbers)
print(average)

20

ZeroDivisionError: division by zero