In [72]:
scores = {'혜원':100,
          '민수':55,
          '가현':60,
          '효은':80,
         }

for name, score in scores.items():
    if score < 60:
        print('B : %s, %d' % (name,score))
    elif score < 85:
        print('A: %s, %d' % (name, score))
    else:
        print('A+ :%s, %d' % (name,score))

A+ :혜원, 100
B : 민수, 55
A: 가현, 60
A: 효은, 80

In [91]:
#리스트 안에 있는 요소 나열
class_list = ['programming', 'physics', 'math']

num_repeat = len(class_list)
i = 0
while i < num_repeat:
    print(class_list[i])
    i += 1

programming
physics
math

In [8]:
# 1부터 50까지의 곱 리스트로
result = 1
for i in range(1,51):
    result *= i
print(result)

30414093201713378043612608166064768844377641568960512000000000000

In [46]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1
print(result)

166833

In [10]:
number = 1
result = 0
while number < 1000:
    number += 1
    if number % 3 == 0:
        result += number
    elif number % 5 == 0:
        result += number
print(number)

1000

In [11]:
# 100미만의 자연수에서 3의 배수와 5의 배수의 총합
result = 0
for n in range(1,1000):
    if n % 3 == 0 or n % 5 == 0:
        result += n
print(result)

233168

In [17]:
A = [20,55,67,82,45,33,90,87,100,25]
sum_ = 0
for a in A:
    if a >= 50:
        sum_ += a
        
print(sum_)

481

In [38]:
a = [1,2,2,2,2,3,3,3,3]
aSet = set(a)
aSet = list(aSet)
print(aSet)

[1, 2, 3]

In [46]:
# 돈이 3000원 이상 or 카드 있으면 택시 타
money = 2000
card = True
if money >= 3000 or card:
    print('택시')
else:
    print('걸어가')

택시

In [49]:
pocket = ['paper','money','cellphone']
if 'money' in pocket:                      # '' 잊지 말기!!!
    print('taxi')
elif 'card' in pocket:
    print('taxi')
else:
    print('walk')

taxi

In [78]:
# 1~100까지 수 중 3의 배수면서 2의 배수는 아닌 수의 개수 출력
count = 0
for i in range(1,101):
    if (i % 3 ==0 and i % 2 != 0):
        count += 1
print(count)

17

In [83]:
# 리스트 사용해 7개의 정수를 입력받고, 입력받은 정수들의 합 구하기
sum_ = 0
for i in range(7):
    i = int(input('정수는?: '))
    sum_ += i
print(sum_)

정수는?: 50
정수는?: 54
정수는?: 54
정수는?: 84
정수는?: 74
정수는?: 94
정수는?: 74
484

In [89]:
#비밀번호 맞을 때까지 입력
pwd = 3158
while True:
    pw = int(input('비밀번호 입력: '))
    if pw == pwd:
        print('맞음')
        break
    else:
        print('틀림')

비밀번호 입력: 3521
틀림
비밀번호 입력: 3158
맞음

In [113]:
hi = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
for i,v in enumerate(hi):
    if v == '월요일' or v == '수요일' or v == '금요일':          # or 쓸 때는 식 다 써야함
        print(i,'oh my god')
    else:
        print(i,'enjoy')

0 oh my god
1 enjoy
2 oh my god
3 enjoy
4 oh my god
5 enjoy
6 enjoy

In [117]:
year = []
month = []
th = []
year.append(int(input()))
month.append(int(input()))
th.append(int(input()))

result = year.pop()-month.pop()+th.pop()
if result == 0:
    print('대박')
else:
    print('그럭저럭')

2003
03
09
그럭저럭

In [119]:
# 100의 자리 숫자가 짝수면 
년 = int(input("태어난 년도를 입력하세요: "))
월 = int(input("태어난 월을 입력하세요: "))
일 = int(input("태어난 일을 입력하세요: "))

합 = 년 + 월 + 일
백의자리 = 합 // 100 % 10  # (년 + 월 + 일)의 100의 자리 숫자를 구함

if 백의자리 % 2 == 0:
    print("대박")
else:
    print("그럭저럭")

태어난 년도를 입력하세요: 2003
태어난 월을 입력하세요: 03
태어난 일을 입력하세요: 09
대박

In [142]:
a = []
for i in range(3):
    i = int(input())
    a.append(i)
    
a.sort()
a[1]

50
49
78

50

In [28]:
#리스트안의 요소들을 다 쓰고 싶을 때
a = ['sd','dfd','sfefs']
num_repeat = len(a)
i = 0
while i < num_repeat:
    print(a[i])
    i+=1

sd
dfd
sfefs

In [33]:
weight = float(input('무게: '))
height = float(input('키: '))        # m, cm 단위 조심!!!
height = height / 100
BMI = weight / (height*height)
if BMI < 18.5:
    print('마름')
elif BMI < 25:
    print('보통')
elif BMI < 30:
    print('가벼운 비만')
else:
    print('심각한 비만')

무게: 5
키: 168
마름

In [38]:
year = int(input('윤년은?: '))
if_leap = True
if_leap = (year % 4 == 0) or (year % 100 != 0) or (year % 4 == 0)
    if is_leap:
        print('T')
    else:
        print('F')

윤년은?: 2003
윤년 아님

In [40]:
# Fizz Buzz 게임
for i in range(1,21):             # if 도 순서가 중요!!!
    if i % 15 == 0:
        print('Fizz Buzz')
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Buzz

In [49]:
foodstuff = ['banana','mango','fish','carrot','cabbage']
for fruit in foodstuff:
    if fruit == 'mango':         # if mango in fruit (X)
        print('위험')
    else:
        print(fruit)

banana
위험
fish
carrot
cabbage

In [72]:
# 60점 이상에게만 축하 나머지한테는 X
marks = [90,25,67,45,80]
for i in range(len(marks)):
    if marks[i] >= 60:                # 되도 않는 else는 하지 말기
        print(i+1,'축하')

1 축하
3 축하
5 축하

In [73]:
# while문으로 1~1000까지 자연수중 3의 배수 합
result = 0
number = 0
while number < 1000:
    number += 1
    if number % 3 == 0:
        result += number
print(result)

166833

In [76]:
#for문으로 1~100까지의 숫자 출력
for i in range(100):
    print(i+1, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [77]:
A = [70,60,55,75,95,90,80,80,85,100]
sum_ = 0
for a in A:
    sum_ += a
average = sum_ / len(A)
print(average)

79.0

In [78]:
# 홀수에만 2 곱하기
numbers = [1,2,3,4,5]
b = []
for i in numbers:
    if i % 2 == 1:
        b.append(i*2)
print(b)

[2, 6, 10]

In [87]:
# 1부터 50까지의 곱 리스트로

product_list = []

for i in range(1, 51):
    product = 1
    for j in range(1, i + 1):
        product *= j
    product_list.append(product)

print(product_list)

4
144
900
3136
8100
17424
33124
57600
93636
144400
213444
304704
422500
571536
756900
984064
1258884
1587600
1976836
2433600
2965284
3579664
4284900
5089536
6002500

In [90]:
# 1부터 50까지의 합
num = 0
for i in range(1,51):
    if i % 2 == 0:
        continue
    else:
        num += i + (i+1)
print(num)

1275

In [92]:
# while문으로 1~100까지의 자연수의 함
number = 0
for i in range(1,1001):
    number += i
print(number)

500500

In [93]:
n = 6
m = 6
for i in range(1, n+1):
    for j in range(1,m+1):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [97]:
for i in range(1,7):
    for j in range(1,7):
        print(i+j)

2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10
6
7
8
9
10
11
7
8
9
10
11
12

In [100]:
num = int(input())
num >= 1 and num <= 100
sum_ = 0
for i in range(num+1):     !!!!!!!!!!!!!!!!!!!!!!
    if i % 2 == 0:
        sum_ += i
print(sum_)

6
12

In [109]:
# 팩토리얼
n = int(input())
fac = 1
for i in range(1,n+1):
    fac *= i
print(fac)

4
24

In [116]:
n = int(input())
n >= 1 and n <= 10000
count = 0
for i in range(1,n+1):
    print(i, end=' ')
    if i % 2 == 1:
        count += 1
print(' ')
print(count)

5
1 2 3 4 5
3

In [119]:
a = int(input())
b = int(input())
if a > b:                    # 미쳤다!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    a, b = b, a
sum = 0
for i in range(a,b+1):
    if i % 2 == 1:
        sum += i
    else:
        sum -= 1
print(sum)

4
8
9

In [120]:
x = 1
y = 2
print(x*y)

2

In [12]:
import random
result = []

for i in range(100):
    location = 0
    
    for i in range(50):
        infront = 1 if random.choice() >= 0.7 else: 
        location += infront
    result.append(location)

몇 번 갔냐?: 3
1