In [1]:
scores = {'철수':70,
          '영희':55,
          '민희':60,
          '영수':45,
          '영철':50,
         }

In [5]:
for name, score in scores.items():
    if score >= 50:
        print(name, ': Pass')
    else:
        print(name, ': Fail')

철수 : Pass
영희 : Pass
민희 : Pass
영수 : Fail
영철 : Pass

In [18]:
def process_scores():
    scores = {}
    num_students = int(input('수강생 수: '))

    for i in range(num_students):
        name = input('수강생 이름: ')
        score = int(input('점수: '))
        scores[name] = score
        
    for name, score in scores.items():
        if score >= 50:
            print(name, ': Pass')
            
        else:
            print(name, ': Fail')
    
process_scores()

수강생 수: 2
수강생 이름: 양양ㅇ
점수: 54
수강생 이름: ㅇ
점수: 5
양양ㅇ : Pass
ㅇ : Fail

In [19]:
# 리스트

a = [1,2,3]
del a [1]
a.append(4)

a.sort()
a.reverse()

a.index(3)
a.insert(0,4)
a.pop()
a.count(1)
a.extend([1,2,3,4])

In [22]:
# 튜플

# 리스트

#a[keys] = value
#del a[keys]

#a.keys()
#a.values()
#a.items()

In [23]:
a = [1,2,3]
b = a

In [25]:
a is b
id(a) == id(b)
a == b

True

In [26]:
a[1] = 5
a

[1, 5, 3]

In [27]:
b[1] = 5

In [28]:
b

[1, 5, 3]

In [29]:
from copy import copy
c = copy(b)
b[0] = 7

In [30]:
a

[7, 5, 3]

In [31]:
b

[7, 5, 3]

In [32]:
c

[1, 5, 3]

In [33]:
num_week = 0
while num_week < 15:
    num_week += 1
    print('week %d in this semester' % num_week)
    if num_week == 15:
        print('End')

week 1 in this semester
week 2 in this semester
week 3 in this semester
week 4 in this semester
week 5 in this semester
week 6 in this semester
week 7 in this semester
week 8 in this semester
week 9 in this semester
week 10 in this semester
week 11 in this semester
week 12 in this semester
week 13 in this semester
week 14 in this semester
week 15 in this semester
End

In [37]:
prompt = 'Enter the response\n 1. Study\n 2.Study\n 3.Study\n 4.Study\n 4.Sleep'

In [38]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

Enter the response
 1. Study
 2.Study
 3.Study
 4.Study
 4.Sleep
1
Enter the response
 1. Study
 2.Study
 3.Study
 4.Study
 4.Sleep
2
Enter the response
 1. Study
 2.Study
 3.Study
 4.Study
 4.Sleep
5
Enter the response
 1. Study
 2.Study
 3.Study
 4.Study
 4.Sleep
4

In [39]:
weeks = 0
while True:
    weeks += 1
    print('weeks %d in this semester' % weeks)
    if weeks == 15:
        break

weeks 1 in this semester
weeks 2 in this semester
weeks 3 in this semester
weeks 4 in this semester
weeks 5 in this semester
weeks 6 in this semester
weeks 7 in this semester
weeks 8 in this semester
weeks 9 in this semester
weeks 10 in this semester
weeks 11 in this semester
weeks 12 in this semester
weeks 13 in this semester
weeks 14 in this semester
weeks 15 in this semester

In [41]:
weeks = 0
while weeks < 15:
    weeks += 1
    if weeks % 2 == 0:
        print(weeks)

2
4
6
8
10
12
14

In [44]:
class_list = ['a','b','c']

for i in range(3):
    print(class_list[i])

a
b
c

In [45]:
for i, class_name in enumerate(class_list):
    print('%d Class: %s' % (i,class_name))

0 Class: a
1 Class: b
2 Class: c

In [52]:
A = [(1,'A'),(2,'B'),(3,'C')]
for a in A:
    class_num = a[0]
    class_name = a[1]
    print(class_num, ':', class_name)
    
print(' ')

for (class_num, class_name) in A:
    print(class_num, ':', class_name)

1 : A
2 : B
3 : C

1 : A
2 : B
3 : C

In [57]:
class_list = ['A','B','C']

for (i,class_name) in enumerate(class_list):
    print(i+1, ':', class_name)
    
class_list[0] = 7

1 : A
2 : B
3 : C

In [58]:
a = [1,2,3,4,5]
b = []

for num in a:
    b.append(num*3)
print(b)

[3, 6, 9, 12, 15]

In [59]:
num_week = 0
while True:
    num_week += 1
    if num_week % 2 == 0:
        continue
    print(num_week)
    if num_week == 15:
        break

1
3
5
7
9
11
13
15

In [4]:
scores = {'철수':70,
          '영희':55,
          '민희':60,
          '영수':45,
          '영철':50,
         }

In [7]:
def scores():
    for name, score in scores.items():
    if score >= 50:
        print(name, ':', 'Pass')
    else:
        print(name, ':', 'Fail')

철수 : Pass
영희 : Pass
민희 : Pass
영수 : Fail
영철 : Pass

In [ ]:
scores = {}
scores = int(input())


for name, score in range(5):
    if score > 50:
        print('Pass')
    else:
        print('Fail')

In [8]:
def check_scores(scores):
    result = {}  # 새로운 dictionary를 초기화합니다.
    for name, score in scores.items():
        if score >= 50:
            result[name] = 'Pass'
        else:
            result[name] = 'Fail'
    return result

# 주어진 점수 dictionary
scores = {
    '철수': 70,
    '영희': 55,
    '민희': 60,
    '영수': 45,
    '영철': 50
}

# check_scores 함수를 호출하여 새로운 결과 dictionary를 얻습니다.
result = check_scores(scores)

# 결과 출력
for name, status in result.items():
    print(f'{name}: {status}')

철수: Pass
영희: Pass
민희: Pass
영수: Fail
영철: Pass